
@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="clear: left;"></div>
<!-- 404 error section -->
<section id="add-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên Khách Hàng</th>
                            <th>SĐT</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Địa chỉ</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>0920929103</td>
                            <td>john@example.com</td>
                            <td>john2222</td>
                            <td>Hà Nội</td>
                            <td><a href="#">Khóa</a></td>
                        </tr>
                        <tr>
                            <td>Smith</td>
                            <td>222223123</td>
                            <td>smith@example.com</td>
                            <td>smith231</td>
                            <td>Hà Nội</td>
                            <td><a href="#">Khóa</a></td>

                        </tr>
                        <tr>
                            <td>John Kenil</td>
                            <td>11232</td>
                            <td>sdasd@example.com</td>
                            <td>kanil231</td>
                            <td>HCM</td>
                            <td><a href="#">Mở Khóa</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>

</section>
<!-- / 404 error section -->
