
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="clear: left;"></div>
<!-- 404 error section -->
<section id="add-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section id="aa-product-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="aa-product-details-area">
                                    <div class="aa-product-details-content">
                                        <div class="row">
                                            <!-- Modal view slider -->
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <div class="aa-product-view-slider">
                                                    <div id="demo-1" class="simpleLens-gallery-container">
                                                        <div class="simpleLens-container">
                                                            <div class="simpleLens-big-image-container">
                                                                <a data-lens-image="img/xe11.jpg"
                                                                   class="simpleLens-lens-image"><img src="img/xe11.jpg" class="simpleLens-big-image"></a>
                                                            </div>
                                                        </div>
                                                        <div class="simpleLens-thumbnails-container">
                                                            <a data-big-image="img/xe6.jpg" data-lens-image="img/xe6.jpg"
                                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                                <img class="img-thumb" src="img/xe6.jpg">
                                                            </a>
                                                            <a data-big-image="img/xe4.jpg" data-lens-image="img/xe4.jpg"
                                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                                <img class="img-thumb" src="img/xe4.jpg">
                                                            </a>
                                                            <a data-big-image="img/xe12.jpg" data-lens-image="img/xe12.jpg"
                                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                                <img class="img-thumb" src="img/xe12.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal view content -->
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <div class="aa-product-view-content">
                                                    <h3>Honda CB 1100 RS 29A1-203.42 (Màu xanh)</h3></br>

                                                    <div class="aa-price-block">
                                                        <span class="aa-product-view-price">399,000,000</span>
                                                        <p class="aa-product-avilability">Tình trạng: <span><b>Còn Hàng</b></span></p>
                                                    </div>


                                                    <ul>
                                                        <b>Mô tả chung</b>
                                                        <li type="circle">Biển số: 29A1_20342</li>
                                                        <li type="circle">Dung tích: 1100cc</li>
                                                        <li type="circle">Đăng ký: 2018</li>
                                                        <li type="circle">Odo: 5000km (original)</li>
                                                        <li type="circle">Hải quan: chính ngạch</li>
                                                        <li type="circle">Chính chủ</li>
                                                    </ul>
                                                    <div class="aa-prod-quantity">

                                                        <p class="aa-prod-category">
                                                            Thương hiệu: <a href="#">Honda SH Việt 150cc</a>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aa-product-details-bottom">
                                        <ul class="nav nav-tabs" id="myTab2">
                                            <li><a href="#description" data-toggle="tab">Miêu Tả Chi Tiết</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="description">
                                                <p>
                                                    Honda CB 1100 RS (Honda,CB,CB 1100cc,CB 1100 RS 2018,CB 1100cc 2018,mua xe CB 1100,bán xe CB
                                                    1100,mua xe CB cũ,bán xe CB cũ,mua xe PKL,bán xe PKL,xe máy cũ,xe chất lượng tốt,xe chính chủ,xe
                                                    lướt,giá thành hợp lý)
                                                </p>

                                                <p>
                                                    Mẫu xe mô tô sở hữu vóc dáng của dòng xe từ năm 70 của thế kỉ trước đang làm mê mẩn các biker không
                                                    chỉ ở kiểu dáng tân cổ điển mà còn ở sức mạnh động cơ.
                                                    Về thiết kế, xe được trang bị đèn dạng tròn dạng LED, màn hình LCD kết hợp và đồng hồ đo màn hình
                                                    analog hiển thị các thông số cần thiết như mức tiêu thụ nhiên liệu, đồng hồ thời gian, quãng đường
                                                    đi và bình nhiên liệu.
                                                </p>

                                                <p>
                                                    Một số hình ảnh về dòng xe Honda Phân khối lớn (trong đó có Honda CB 1100 RS hay CB 1100 RS 2018
                                                    hay CB 1100cc hay CB 1100cc 2018)
                                                </p>

                                                <a class="">https://www.facebook.com/pg/motormaianh/photos/?tab=album&album_id=2159036697467815</a></br>
                                                <ul>
                                                    <li>Biển số: 29A1_20342</li>
                                                    <li>Dung tích: 1100cc</li>
                                                    <li>Đăng ký: 2018</li>
                                                    <li>Odo: 5000km (original)</li>
                                                    <li>Hải quan: chính ngạch</li>
                                                    <li>Chính chủ</li>
                                                </ul>
                                                <p>
                                                    <b>
                                                        Đến với cửa hàng Motor, các bạn được lựa chọn những chiếc xe máy đẹp, chất lượng tốt và giá
                                                        thành hợp lý
                                                    </b>
                                                </p>
                                                <p><b>Cửa hàng Motor cam kết:</b></p>
                                                <ul>
                                                    <li>Xe chính chủ</li>
                                                    <li>Giá thành hợp lý</li>
                                                    <li>
                                                        Xe chất lượng tốt, chất lượng hàng đầu tại Hà Nội, Bảo hành tuyệt đối Máy nguyên bản , Đồ Zin
                                                        theo xe
                                                    </li>
                                                    <li>
                                                        Dịch vụ tốt nhất: Các bạn mua xe cửa hàng sau Mua Bán đều được tư vấn , xử lý Luôn và Ngay khi
                                                        xe gặp sự cố xảy ra (đội ngũ chuyên nghiệp làm việc 24/24)
                                                    </li>
                                                    <li>Hải quan: chính ngạch</li>
                                                    <li>Chính chủ</li>
                                                </ul>

                                            </div>



                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-danger"><a href="#" class="p-5"><strong>Xóa</strong></a></button>

                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary"><a href="#" class="p-5"><strong>Sửa</strong></a></button>

                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>

</section>
<!-- / 404 error section -->
