
@{
    ViewBag.Title = "ManageOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="clear: left;"></div>
<!-- 404 error section -->
<section id="add-product">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2>Tìm kiếm đơn hàng</h2></div>
            <div class="col-2">
                <h4>Từ Ngày</h4>
            </div>
            <div class="col-2">
                <input type="date" class="form-control">
            </div>
            <div class="col-2">
                <h4>Đến Ngày</h4>
            </div>
            <div class="col-2">
                <input type="date" class="form-control">
            </div>
            <div class="col-4"><button class="btn btn-primary" class="form-control">Lọc</button></div>
            <div class="col-12 shadow">

                <div class="mt-5 mb-3 ml-4 mr-5 border bg-warning">
                    <div class="row m-0 p-0">
                        <div class="col-12 row bg-light ml-0 p-0">
                            <div class="col-6 my-2">
                                <img src="images/si1.jpg" alt="" width="6%" class="Avatar">
                                <span class="p5">VinhDQ25</span>
                            </div>
                            <div class="col-6 my-2 text-right">
                                <div class="p5 mt-2">Đơn hàng: 0129309HN001</div>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="row">
                        <div class="col-4 my-1 pt-2 ">
                            <div class="row">
                                <div class="col-5 text-center">
                                    <img src="images/si1.jpg" alt="" width="40%">
                                </div>
                                <div class="col-6">
                                    <p class="p5">Xe máy Honda123</p>
                                </div>
                                <div class="col-1 color-buy-now">x2</div>
                            </div>
                            <hr width="80%" />
                            <div class="row">
                                <div class="col-5 text-center">
                                    <img src="images/si1.jpg" alt="" width="40%">
                                </div>
                                <div class="col-6">
                                    <p class="p5">Xe máy Honda123</p>
                                </div>
                                <div class="col-1 color-buy-now">x1</div>

                            </div>
                        </div>
                        <div class="col-1 my-1 pt-2">

                        </div>
                        <div class="col-2 my-1 pt-2">
                            <p class="p5">₫20,000,000</p>
                        </div>
                        <div class="col-3 my-1 pt-2">
                            <p class="p5 color-buy-now">Đang chờ xác nhận</p>
                        </div>
                        <div class="col-2 my-1 pt-2">
                            <span class="p5 mr-5"><a href="#">Sửa</a></span>
                            <span class="p5"><a href="#">Ẩn</a></span>
                        </div>
                    </div>
                    <!-- item -->


                    <div class="row ml-4 mr-5 my-4">
                        <div class="col-12 text-right">
                            <button class="btn btn-success col-1 color-white">Xác Nhận</button>
                            <button class="btn btn-danger col-1 color-white">Hủy Đơn</button>

                        </div>
                    </div>
                </div>
                <!-- Order -->
                <div class="mt-5 mb-3 ml-4 mr-5 border bg-warning">
                    <div class="row m-0 p-0">
                        <div class="col-12 row bg-light ml-0 p-0">
                            <div class="col-6 my-2">
                                <img src="images/si1.jpg" alt="" width="6%" class="Avatar">
                                <span class="p5">VinhDQ25</span>
                            </div>
                            <div class="col-6 my-2 text-right">
                                <div class="p5 mt-2">Đơn hàng: 0129309HN001</div>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="row">
                        <div class="col-4 my-1 pt-2 ">
                            <div class="row">
                                <div class="col-5 text-center">
                                    <img src="images/si1.jpg" alt="" width="40%">
                                </div>
                                <div class="col-6">
                                    <p class="p5">Xe máy Honda123</p>
                                </div>
                                <div class="col-1 color-buy-now">x2</div>
                            </div>
                            <hr width="80%" />
                            <div class="row">
                                <div class="col-5 text-center">
                                    <img src="images/si1.jpg" alt="" width="40%">
                                </div>
                                <div class="col-6">
                                    <p class="p5">Xe máy Honda123</p>
                                </div>
                                <div class="col-1 color-buy-now">x1</div>

                            </div>
                        </div>
                        <div class="col-1 my-1 pt-2">

                        </div>
                        <div class="col-2 my-1 pt-2">
                            <p class="p5">₫20,000,000</p>
                        </div>
                        <div class="col-3 my-1 pt-2">
                            <p class="p5 color-buy-now">Đang chờ xác nhận</p>
                        </div>
                        <div class="col-2 my-1 pt-2">
                            <span class="p5 mr-5"><a href="#">Sửa</a></span>
                            <span class="p5"><a href="#">Ẩn</a></span>
                        </div>
                    </div>
                    <!-- item -->


                    <div class="row ml-4 mr-5 my-4">
                        <div class="col-12 text-right">
                            <button class="btn btn-success col-1 color-white">Xác Nhận</button>
                            <button class="btn btn-danger col-1 color-white">Hủy Đơn</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


</section>
<!-- / 404 error section -->
