
@{
    ViewBag.Title = "ManageCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="clear: left;"></div>
<!-- 404 error section -->
<section id="add-product">
    <div class="container">
        <div class="row">
            <div class="col-12 shadow">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên Danh Mục</th>
                            <th>Cấp độ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>YAMAHA</td>
                            <td>2</td>
                            <td><a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>VESGA</td>
                            <td>2</td>
                            <td><a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>Xe Phân Khối Lớn</td>
                            <td>1</td>
                            <td><a href="#">Xóa</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</section>
<!-- / 404 error section -->
