
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container">
                                                <a data-lens-image="~/wwwroot/img/xe11.jpg"
                                                   class="simpleLens-lens-image"><img src="~/wwwroot/img/xe11.jpg" class="simpleLens-big-image"></a>
                                            </div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            <a data-big-image="~/wwwroot/img/xe6.jpg" data-lens-image="~/wwwroot/img/xe6.jpg"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img class="img-thumb" src="~/wwwroot/img/xe6.jpg">
                                            </a>
                                            <a data-big-image="~/wwwroot/img/xe4.jpg" data-lens-image="~/wwwroot/img/xe4.jpg"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img class="img-thumb" src="~/wwwroot/img/xe4.jpg">
                                            </a>
                                            <a data-big-image="~/wwwroot/img/xe12.jpg" data-lens-image="~/wwwroot/img/xe12.jpg"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img class="img-thumb" src="~/wwwroot/img/xe12.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>Honda CB 1100 RS 29A1-203.42 (Màu xanh)</h3></br>

                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price">399,000,000</span>
                                        <p class="aa-product-avilability">Tình trạng: <span><b>Còn Hàng</b></span></p>
                                    </div>


                                    <ul>
                                        <b>Mô tả chung</b>
                                        <li type="circle">Biển số: 29A1_20342</li>
                                        <li type="circle">Dung tích: 1100cc</li>
                                        <li type="circle">Đăng ký: 2018</li>
                                        <li type="circle">Odo: 5000km (original)</li>
                                        <li type="circle">Hải quan: chính ngạch</li>
                                        <li type="circle">Chính chủ</li>
                                    </ul>
                                    <div class="aa-prod-quantity">
                                        <h3>Số lượng: </h3>
                                        <form action="">
                                            <select id="" name="">
                                                <option selected="selected" value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option value="4">5</option>
                                                <option value="5">6</option>
                                            </select>
                                        </form>
                                        <p class="aa-prod-category">
                                            Thương hiệu: <a href="#">Honda SH Việt 150cc</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a class="aa-add-to-cart-btn" href="/Cart/Index">Đăt Hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Miêu Tả Chi Tiết</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>
                                    Honda CB 1100 RS (Honda,CB,CB 1100cc,CB 1100 RS 2018,CB 1100cc 2018,mua xe CB 1100,bán xe CB
                                    1100,mua xe CB cũ,bán xe CB cũ,mua xe PKL,bán xe PKL,xe máy cũ,xe chất lượng tốt,xe chính chủ,xe
                                    lướt,giá thành hợp lý)
                                </p>

                                <p>
                                    Mẫu xe mô tô sở hữu vóc dáng của dòng xe từ năm 70 của thế kỉ trước đang làm mê mẩn các biker không
                                    chỉ ở kiểu dáng tân cổ điển mà còn ở sức mạnh động cơ.
                                    Về thiết kế, xe được trang bị đèn dạng tròn dạng LED, màn hình LCD kết hợp và đồng hồ đo màn hình
                                    analog hiển thị các thông số cần thiết như mức tiêu thụ nhiên liệu, đồng hồ thời gian, quãng đường
                                    đi và bình nhiên liệu.
                                </p>

                                <p>
                                    Một số hình ảnh về dòng xe Honda Phân khối lớn (trong đó có Honda CB 1100 RS hay CB 1100 RS 2018
                                    hay CB 1100cc hay CB 1100cc 2018)
                                </p>

                                <a class="">https://www.facebook.com/pg/motormaianh/photos/?tab=album&album_id=2159036697467815</a></br>
                                <ul>
                                    <li>Biển số: 29A1_20342</li>
                                    <li>Dung tích: 1100cc</li>
                                    <li>Đăng ký: 2018</li>
                                    <li>Odo: 5000km (original)</li>
                                    <li>Hải quan: chính ngạch</li>
                                    <li>Chính chủ</li>
                                </ul>
                                <p>
                                    <b>
                                        Đến với cửa hàng Motor, các bạn được lựa chọn những chiếc xe máy đẹp, chất lượng tốt và giá
                                        thành hợp lý
                                    </b>
                                </p>
                                <p><b>Cửa hàng Motor cam kết:</b></p>
                                <ul>
                                    <li>Xe chính chủ</li>
                                    <li>Giá thành hợp lý</li>
                                    <li>
                                        Xe chất lượng tốt, chất lượng hàng đầu tại Hà Nội, Bảo hành tuyệt đối Máy nguyên bản , Đồ Zin
                                        theo xe
                                    </li>
                                    <li>
                                        Dịch vụ tốt nhất: Các bạn mua xe cửa hàng sau Mua Bán đều được tư vấn , xử lý Luôn và Ngay khi
                                        xe gặp sự cố xảy ra (đội ngũ chuyên nghiệp làm việc 24/24)
                                    </li>
                                    <li>Hải quan: chính ngạch</li>
                                    <li>Chính chủ</li>
                                </ul>

                            </div>



                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="aa-product-related-item">
                        <h3>Sản Phẩm Khác</h3>
                        <ul class="aa-product-catg aa-related-item-slider">
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe14.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Honda CB 150R 29E2-538.70</a></h4>
                                        <span class="aa-product-price">76,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                47,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#">Giảm Giá!</span>
                            </li>
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe10.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Honda CB1100 RS 29A1-157.08</a></h4>
                                        <span class="aa-product-price">389,000,000 ₫</span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sold-out" href="#">Đã bán hết!</span>
                            </li>
                            <!-- start single product item -->
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe5.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">SHi Cafe Italia 150cc 30M8-1219</a></h4>
                                        <span class="aa-product-price">76,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                76,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                            </li>
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe15.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Honda CBR 500R 2020 29A1-258.41</a></h4>
                                        <span class="aa-product-price">350,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                360,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                            </li>
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe1.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Honda SH Việt 150cc 29C1-320.76</a></h4>
                                        <span class="aa-product-price">70,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                76,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sold-out" href="#">Đã bán hết!</span>
                            </li>
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe8.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Xe đạp điên 50cc 29Y1-273.32 </a></h4>
                                        <span class="aa-product-price">15,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                20,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-hot" href="#">Giảm Giá!</span>
                            </li>
                            <!-- start single product item -->
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="#"><img src="~/wwwroot/img/xe3.jpg" alt="polo shirt img"></a>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">SH Việt 150cc 29B1-540.34</a></h4>
                                        <span class="aa-product-price">80,000,000 ₫</span><span class="aa-product-price">
                                            <del>
                                                76,000,000
                                                ₫
                                            </del>
                                        </span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">

                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                       data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#">Giảm Giá!</span>
                            </li>
                        </ul>
                        <!-- quick view modal -->
                        <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <div class="row">
                                            <!-- Modal view slider -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-slider">
                                                    <div class="simpleLens-gallery-container" id="demo-1">
                                                        <div class="simpleLens-container">
                                                            <div class="simpleLens-big-image-container">
                                                                <a class="simpleLens-lens-image"
                                                                   data-lens-image="~/wwwroot/img/view-slider/large/polo-shirt-1.png">
                                                                    <img src="~/wwwroot/img/xe1.jpg" class="simpleLens-big-image">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="simpleLens-thumbnails-container">
                                                            <a href="#" class="simpleLens-thumbnail-wrapper" data-lens-image="~/wwwroot/img/xe14.jpg"
                                                               data-big-image="~/wwwroot/img/xe14.jpg">
                                                                <img src="~/wwwroot/img/xe14.jpg">
                                                            </a>
                                                            <a href="#" class="simpleLens-thumbnail-wrapper" data-lens-image="~/wwwroot/img/xe5.jpg"
                                                               data-big-image="~/wwwroot/img/xe5.jpg">
                                                                <img src="~/wwwroot/img/xe5.jpg">
                                                            </a>

                                                            <a href="#" class="simpleLens-thumbnail-wrapper" data-lens-image="~/wwwroot/img/xe6.jpg"
                                                               data-big-image="~/wwwroot/img/xe6.jpg">
                                                                <img src="~/wwwroot/img/xe6.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal view content -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-content">
                                                    <h3>SH Việt 150cc 29B1-540.34</h3>
                                                    <div class="aa-price-block">
                                                        <span class="aa-product-view-price">76,000,000 ₫</span>
                                                        <p class="aa-product-avilability">Tình Trạng: <span><b>Còn Hàng</b></span></p>
                                                    </div>
                                                    <ul>
                                                        <b>Mô tả chung</b>
                                                        <li type="circle">Biển số: 29A1_20342</li>
                                                        <li type="circle">Dung tích: 1100cc</li>
                                                        <li type="circle">Đăng ký: 2018</li>
                                                        <li type="circle">Odo: 5000km (original)</li>
                                                        <li type="circle">Hải quan: chính ngạch</li>
                                                        <li type="circle">Chính chủ</li>
                                                    </ul>
                                                    <div class="aa-prod-quantity">

                                                        <p class="aa-prod-category">
                                                            Thương hiệu: <a href="#">Honda</a>
                                                        </p>
                                                    </div>
                                                    <div class="aa-prod-view-bottom">
                                                        <a href="#" class="aa-add-to-cart-btn">
                                                            <span class="fa fa-shopping-cart"></span>Thêm vào
                                                            giỏ hàng
                                                        </a>
                                                        <a href="#" class="aa-add-to-cart-btn">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- / quick view modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
